.container {
  text-align: center;
  margin: auto;
  width: 30%;
  background: linear-gradient(30deg, var(--color-violeta) 0%, var(--color-azul) 48.96%, var(--color-verde) 100%);
  text-align: center;
  border-radius: 7px;
  padding: 2rem;
  margin-top: 2rem;
}
form{
  margin-top: 2rem;
}
.pagina2 {
  display: none;
}

/* BOTONES */
.botonSiguiente{
  background: var(--color-verde);
}
.botonAnterior{
  background: none;
  border: 1px var(--color-verde) solid;
}

/* FORMULARIO */
.formulario-principal .pagina .titulo {
  color: var(--color-background);
}
.campo{
  padding: 1rem;
}
.campo input{
  height: 24px;
  border: none;
}
.campo select{
  height: 28px;
  width: 100%;
  padding-right: 1rem;
}
.inputsFormulario{
  width: 92%;
  border-radius: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0.5rem;
}

@media (max-width: 1200px) {
  .container{
    width: 50%;
  }
}
@media (max-width: 768px) {
  .container{
    width: 96%;
  }
}