.container {
  text-align: center;
  margin: auto;
  width: 30%;
  background: linear-gradient(30deg, var(--color-violeta) 0%, var(--color-azul) 48.96%, var(--color-verde) 100%);
  text-align: center;
  border-radius: 20px;
  padding: 2rem;
  margin-top: 2rem;
}
.formContainer{
  margin-top: 10px;
  
}
form{
  margin: 0;
}
.pagina2 {
  display: none;
}
.pagina3 {
  display: none;
}
.pagina4 {
  display: none;
}
.h1Asistente {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  
}
.h2Asistente{
  margin: 15px 0;

}
.h3Asistente{
  margin-top: 15px;
  margin-bottom: 20px;


}
/* BOTONES */
.botonSiguiente{
  background: var(--color-verde);
}
.botonAnterior{
  background: none;
  border: 1px var(--color-verde) solid;
}
.botonAnterior a{
  color: var(--color-grisclaro);
}

/* FORMULARIO */
.subtitulo{
  font-size: 2rem;
  color: var(--color-background);
}
.campo{
  padding: 1rem;
}
.campo input{
  height: 24px;
  border: none;
}
.campo select{
  height: 28px;
  width: 100%;
  padding-right: 1rem;
}
.inputsFormulario{
  width: 92%;
  border-radius: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0.5rem;
}
.resumen {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.h6Asistente {
  text-transform: none;
  margin: 0;
}
.span1, .span2, .span3, .span4 {
  margin:  5px 0 10px 0;
}
#enviado {
  font-weight: bold;
  font-size: 2rem;
}

form .error {
  color: black;
  font-weight: bold;
  position: relative;
  background-color: rgb(225, 65, 97);
  margin-top: 10px;
  margin-bottom: 5px;
}
.msgError {
  color: black;
  font-weight: bold;
  border-radius: 20px;
  width: 100%;
  background-color: rgb(225, 65, 97);
  margin-bottom: 10px;  
  justify-content: center;}

@media (max-width: 1200px) {
  .container{
    width: 50%;
  }
}
@media (max-width: 768px) {
  .container{
    width: 80%;
  }
}