/* Poner acá todos los estilos de Equipo */ 
.equipo h2 {
    display: flex;
    position: relative;
    /*top: 40px;*/
    text-align: center;
    font-family: 'Roboto Mono', sans-serif; ;
    width: 340px;
    height: 54px;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    background: linear-gradient(90deg, #B861E0 0%, #7171E2 48.96%, #1FC1AE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 4rem;
}
.equipo {
    display: flex;
    flex-direction: column;
    background-color: #B6B6B6;
    padding-bottom: 4rem;
}
.contImagenesEquipo {
    /*position: relative;*/
    top: 5rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.nosotros {
    display: flex;
    /*position: relative;*/
    width: 150px;
    height: auto;
    /*font-style: normal;*/
    letter-spacing: 0.1em;
    text-align: center;
    justify-content: space-evenly;
}
.actividad {
    text-align: center;
    color: var(--color-background);
}
.boton-subir {
    position: fixed;
    right: 3%;
    bottom: 3%;
    background-color: #1FC1AE;
    padding: 15px;
    display: none;
    opacity: 0.5;
    border-radius: 10px;
}

.boton-subir a {
    font-size: 24px;
    color: #fff;
}
