.formulario{
  text-align: center;
  padding-bottom: 4rem;
}
.formulario h1{
  color: var(--color-violeta);
}
.formularioForm{
  width: 60%;
  margin: 0px auto;
}
.input-padron{
  display: block;
  margin-bottom: 20px;
  padding: 10px 20px;
  width: 100%;
  border-radius: 20px;
  font-family: var(--roboto-mono);
  font-size: 1rem;
  color: var(--color-grisclaro);
}
input, textarea{
  border-color: var(--color-violeta);
  border-width: 2px;
  background: none;
  border-style: solid;
  margin-top: 10px;
}
form .error {
  color: var(--color-verde);
  position: relative;
  margin-top: 10px;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .formularioForm{
    width: 94%;
    margin: 0px auto;
  }
  .input-padron{
    width: 90%;
  }
}
