/* Poner acá todos los estilos de Servicios */ 
.servicios{
  text-align: center;
  margin-top: 6rem;
  padding-bottom: 4rem;
}
.servicios h2{
  margin-bottom: 4rem;
}
.serviciosBoxes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.serviciosBoxesSingle{
  border: solid var(--color-grisclaro) 2px;
  margin-bottom: 2rem;
}
.serviciosBoxesSingle img{
  border-bottom: solid var(--color-grisclaro) 2px;
}
.backVioleta{
  background-color: var(--color-violeta);
}
.backAzul{
  background-color: var(--color-azul);
}
.backVerde{
  background-color: var(--color-verde);
}