body{
    margin: 0px;
}
.container {
	width: 94%;
	margin: 0 auto;
}

/* HEADER */
.headerPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu{
    display: flex;
}
.menuLink{
    color: var(--color-grisclaro);
    margin: 0 1rem;
}
.menuLink:hover{
    opacity: 0.8;
}
.menuLink .fa-regular{
    color: var(--color-violeta);
    opacity: 0.6;
    padding-right: 0.3rem;
}

#tablaApi {
    color: var(--color-azul);
    float: right;
}

/* HERO */ 
.hero{
    margin: 0 3rem;
    display: flex;
    flex-wrap: wrap;
}
.hero .container{
    display: flex;
    justify-content: space-between;
}
.heroText, .heroImage{
    width: 48%;
}
.heroText .boton{
    margin-top: 1rem;
}
.heroImage{
    text-align: center;
}

.imgValoresImage{
    width: 100%;
}

/* FOOTER */
footer{
    border-top: 1px solid var(--color-grisclaro);
    margin-top: 2rem;
}
footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footerInfo{
    display: flex;
    align-items: center;
}
.copyright{
    font-size: 80%;
    padding-left: 2rem;
}
.footerSocial a{
    margin: 0 1rem;
}
.footerSocial a:hover{
    opacity: 0.8;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
    .headerPrincipal{
        flex-direction: column;
        align-items: initial; 
        text-align: center;
    }
    .headerPrincipal .container{
        justify-content: center;
    }
    nav, .menu{
        width: 100%;
    }
    .menu{
        flex-direction: column;
        margin-left: -40px;
    }
    .menuLink{
        border-bottom: solid var(--color-violeta) 1px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .heroText{
        width: 60%;
    }
    .hero{
        margin: 0px;
    }
    .heroImage{
        width: 80%;
    }
    .imgHeroImage{
        width: 100%;
        margin-top: 3rem;
    }
    .heroText{
        width: 94%;
    }
    .heroText h1{
        font-size: 2.3rem;
    }
}
