body{
    margin: 0px;
}
.container {
	width: 94%;
	margin: 0 auto;
}

/* HEADER */
.headerPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu{
    display: flex;
}
.menuLink{
    color: var(--color-grisclaro);
    margin: 0 1rem;
}
.menuLink:hover{
    opacity: 0.8;
}

#tablaApi {
    color: var(--color-azul);
    float: right;
}

/* HERO */ 
.hero{
    margin: 0 3rem;
    display: flex;
    flex-wrap: wrap;
}
.hero .container{
    display: flex;
    justify-content: space-between;
}
.heroText, .heroImage{
    width: 48%;
}
.heroImage{
    text-align: center;
}

/* FOOTER */
footer{
    border-top: 1px solid var(--color-grisclaro);
    margin-top: 2rem;
}
footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footerInfo{
    display: flex;
    align-items: center;
}
.copyright{
    font-size: 80%;
    padding-left: 2rem;
}
.footerSocial a{
    margin: 0 1rem;
}
.footerSocial a:hover{
    opacity: 0.8;
}

@media (max-width: 768px) {
    .headerPrincipal{
        flex-direction: column;
        align-items: initial; 
        text-align: center;
    }
    .menu{
        flex-direction: column;
        width: 90%;;
    }
    .menuLink{
        border-bottom: solid var(--color-violeta) 1px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}